.hexagon {
  top: 40vh;
  left: 40%;
  position: absolute;
  margin: 0 auto;

  background-color: darkgoldenrod;
  /* background: linear-gradient(to left, */
  /* DarkBlue, DodgerBlue); */
  border-radius: 10px;
  width: 100px;
  height: 63px;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
  transform: rotate(90deg);
}

/*To create pseudo-class */
.hexagon:before,
.hexagon:after {
  content: "hiiii";
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;

  /*To Add effect on the background*/
  background: linear-gradient(to right,
      rgb(209, 224, 11), rgb(191, 185, 64));
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.hexagon:before {
  transform: rotate(60deg);
}

.hexagon:after {
  transform: rotate(-60deg);
}