* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.cell-holder {
  padding: 20px;
  height: 350px;
  width: 300px;
  background-color: rgb(252, 255, 240);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.center {
  background-color: rgb(216, 175, 71);
}

.cell {
  height: 90px;
  width: 90px;
  border: 2px solid black;
  display: inline-block;
  font-size: 60px;
}

.side-row {
  display: flex;
  justify-content: center;
  column-gap: 4px;
}

.update-button {
  width: 120px;
  height: 20px;
}

ul {
  margin-left: 20px;
}

.cg {
  padding: 5px;
  width: 90px;
  height: 30px;
  border-bottom: 2px solid black;
}

.display-total {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
}

.total {
  background-color: bisque;
  display: inline-block;
  height: 30px;
  width: 70px;
}